module = ZBUS
module-str = zbus
source "subsys/logging/Kconfig.template.log_config"

config ZEPHYR_ZBUS_MODULE
	bool

config ZBUS
	bool "Zbus messaging bus"
	help
	  Zbus messaging bus

if ZBUS 

config ZBUS_LOG
  bool "Enable log for zbus usage"
  depends on LOG
  default n

config ZBUS_ASSERTS
  bool "Enable asserts for zbus implementation"
  default y

config ZBUS_MONITOR_THREAD_STACK_SIZE
  int "Size of the monitor thead stack"
  default 2048

config ZBUS_MONITOR_THREAD_PRIORITY
  int "Size of the monitor thead stack"
  default 0

config ZBUS_DYNAMIC_CHANNELS
  bool "Enable dynamic channels"
  default n

config ZBUS_EXT
  bool "Enable the Zbus extension"
  default n

if ZBUS_EXT

    config ZBUS_EXT_THREAD_STACK_SIZE
      int "Size of the monitor thead stack"
      default 2048

    config ZBUS_EXT_THREAD_PRIORITY
      int "Size of the monitor thead stack"
      default 1

endif # ZBUS_EXT
endif # ZBUS
