config ZBUS
	bool "Zbus messaging bus"
	help
	  Zbus messaging bus

if ZBUS 
config ZBUS_LOG
  bool "Enable log for zbus usage"
  depends on LOG
  default n

config ZBUS_OFFENSIVE_PROG
  bool "Enable asserts for zbus implementation"
  default n

config ZBUS_MONITOR_THREAD_STACK_SIZE
  int "Size of the monitor thread stack"
  default 2048

config ZBUS_MONITOR_THREAD_PRIORITY
  int "Size of the monitor thread stack"
  default 0

config ZBUS_EVENT_DISPATCHER_SEMAPHORE_TIMEOUT
  int "Timeout in milliseconds the event dispatcher consider when using semaphores"
  default 50

config ZBUS_EVENT_DISPATCHER_QUEUE_TIMEOUT
  int "Timeout in milliseconds the event dispatcher consider when using queues"
  default 50

config ZBUS_CHANNEL_USER_DATA
  bool "Enable the Zbus user data field in the channel structure."
  default n
  help
    This field is a user data where the developer can manipulate freely after claiming the channel.
    It can be used to extends zbus features. The uart_bridge and remote mock samples illustrate the usage.

config ZBUS_CHANNEL_USER_DATA_SIZE
  int "Channel user data size in bytes"
  default 4
  help
    The user data field is an uint8_t array. This configuration enables the developer to choose the field size.
    All the channel will have the same size of user data. Use that carefully to avoid unnecessary memory usage.

config ZBUS_EXT
  bool "Enable the Zbus extension"
  default n

if ZBUS_EXT

    config ZBUS_EXT_THREAD_STACK_SIZE
      int "Size of the monitor thread stack"
      default 2048

    config ZBUS_EXT_THREAD_PRIORITY
      int "Size of the monitor thread stack"
      default 1

endif # ZBUS_EXT

module = ZBUS
module-str = zbus
source "subsys/logging/Kconfig.template.log_config"

endif # ZBUS
