module = ZBUS
module-str = zbus
source "subsys/logging/Kconfig.template.log_config"

config ZBUS_SERIAL_IPC
  bool "Enable the  zeta IPC over serial"
  default n

config ZBUS_MONITOR_THREAD_STACK_SIZE
  int "Size of the monitor thead stack"
  default 2048

config ZBUS_MONITOR_THREAD_PRIORITY
  int "Size of the monitor thead stack"
  default 0

source "Kconfig.zephyr"
